@model CareJobApplicationv2.Models.InterviewCandidates

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InterviewCandidates</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CandidateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterViewDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterViewDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewSchedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewSchedule.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
