@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<CareJobApplicationv2.Models.Jobs>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="d-block w-100" src="~/images/adv-header-01.jpg" />
</div>


<div class="col-lg-12">
  <div class="card  card-border-none bg-light-care mb-3">
    <div class="card-body">
    <form>
       <div class="row job-search-bar">
            <div class="col-lg-3">
                
                        <input type="text" class="form-control form-control-sm" id="serachJobTitle" placeholder="Enter Job Title">
                    
            </div>
            <div class="col-lg-3">
                
                       @Html.DropDownList("JobCategoriesId", null, "-- Select Job Category --", htmlAttributes: new { @class = "form-select form-select-sm" })
                   
            </div>
            <div class="col-lg-3">
                
                      @Html.DropDownList("JobLocationList", null, "-- Select Job Location --", htmlAttributes: new { @class = "form-select form-select-sm" })
                    
            </div>
            
             
            <div class="col-lg-3">
                
                         <button id="clearSearch" type="button" class="btn btn-sm btn-outline-primary form-control">Clear Search</button>
                   
            </div>
       </div>
        
     </form>
    </div>
   </div>
</div>
<div class="row">
            
            <div class="card  card-border-none bg-light-care mb-3">
                <div class="card-body">
                    <table id="JobListTable" class="table table-responsive table-care ">
                        <thead class="table-hader-care">
                            <tr>
                                <th>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.JobTitle)
                                </th>
                                
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.PublishDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Deadline)
                                </th>
                                
                                <th>
                                    Location
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Categories)
                                </th>
                                <th>
                                    
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                    @foreach (var item in Model) {
                          TimeSpan? openPositions = DateTime.Now - item.Deadline ;
                        // TimeSpan? Difference = DateTime.Now - item.PublishDate;

                        var bgtr = "#fefefe";
                        <!--span>@*Difference.Value.Days @*: @Difference.Value.Hours : @Difference.Value.Minutes*@</span-->
                        if (openPositions.Value.Days < 0)
                        {
                            bgtr = "#f7fbb6";
                        }


                            <tr style="background:@bgtr">
                                <td>


                                </td>
                                <td class="fw-bold">
                                    @Html.DisplayFor(modelItem => item.JobTitle)
                                </td>

                                
                                <td class="text-sm">
                                    @*Html.DisplayFor(modelItem => item.PublishDate)*@
                                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", item.PublishDate))
                                </td>
                                <td class="text-sm">
                                    @*Html.DisplayFor(modelItem => item.Deadline)*@
                                    @Convert.ToString(string.Format("{0:dd-MM-yyyy}", item.Deadline))
                                </td>

                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.Branchs.BranchTitleEn )
                                </td>
                                <td class="text-sm">
                                    @Html.DisplayFor(modelItem => item.Categories.CategoryNameEn )
                                </td>
                                
                                <td>
                                   <a asp-action="Details" class="btn btn-sm btn-outline-primary" asp-route-id="@item.Id">Details</a>
                                </td>

                            </tr>
                        
                    }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Index" class="btn btn-outline-primary">Return to Open positions</a>
                </div>
            </div>
       
 </div>

  @section Scripts
{

                        <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.min.css"/>
 
                        <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>






                        <script type="text/javascript">
                            var Popup, dataTable;


                            $(document).ready(function () {



                                function convertJsonDateToShortDate(data) {
                                    // This function converts a json date to a short date
                                    // e.g. /Date(1538377200000)/ to 10/1/2018

                                    const dateValue = new Date(parseInt(data.substr(6)));
                                    console.log("Date " + dateValue);
                                    return dateValue.toLocaleDateString('en-GB');
                                }


                                dataTable = $('#JobListTable').DataTable({
                                    "dom": 'Blrtip',
                                    /*
                                    scrollX: true,
                                    
                                    fixedColumns: {
                                        leftColumns: 1,

                                    },*/
                                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],

                                    "columnDefs": [
                                        {
                                            "targets": [0],
                                            "data": null,
                                            "defaultContent": "",
                                            "className": "select-checkbox custom-control custom-checkbox",
                                            "orderable": false
                                        },


                                        {
                                            
                                           // "targets": [-1],
                                           // "visible": false
                                            
                                        }


                                    ],

                                    "dom": 'Bfrtip',
                                    "buttons": [
                                        {
                                            extend: 'copy',
                                            text: '<i class="fa fa-copy"></i> Copy',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                        {
                                            extend: 'excel',
                                            text: '<i class="fa fa-file-excel-o"></i> Excel',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                        {
                                            extend: 'pdf',
                                            text: '<i class="fa  fa-file-pdf-o"></i> Pdf',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                        {
                                            extend: 'print',
                                            text: '<i class="fa fa-print"></i> Print',
                                            exportOptions: {
                                                columns: ':visible'
                                            }
                                        },
                                        {
                                            extend: 'selectAll',

                                        },
                                        {
                                            extend: 'selectNone',

                                        }
                                    ],

                                    //select: true
                                    select: {
                                        style: 'multiple',
                                        selector: 'td:first-child'
                                    }

                                })

                                $('#serachJobTitle').on('keyup', function () {
                                    dataTable
                                        .columns(1)
                                        .search(this.value)
                                        .draw();
                                });
                                // Location search
                                $('#JobLocationList').on('change', function () {
                                    if ($(this).val() != null && $(this).val() != "") {

                                        dataTable
                                            .columns(4)
                                            .search("^" + $(this).val() + "$", true, false, true)
                                            .draw();
                                    } else {
                                        dataTable
                                            .columns(4)
                                            .search("")
                                            .draw();
                                    }
                                    
                                });
                                //JobCategoriesId
                                $('#JobCategoriesId').on('change', function () {
                                    if ($(this).val() != null && $(this).val() != "") {

                                        dataTable
                                            .columns(5)
                                            .search("^" + $(this).val() + "$", true, false, true)
                                            .draw();
                                    } else {
                                        dataTable
                                            .columns(5)
                                            .search("")
                                            .draw();
                                    }

                                   
                                });

                                //JobStatus
                                $('#JobStatus').on('change', function () {
                                    if ($(this).val() != null && $(this).val() != "") {

                                        dataTable
                                            .columns(-1)
                                            .search("^" + $(this).val() + "$", true, false, true)
                                            .draw();
                                    } else {
                                        dataTable
                                            .columns(-1)
                                            .search("")
                                            .draw();
                                    }


                                });
                                $('#clearSearch').click(function () {

                                    dataTable.search('')
                                        .columns().search('')
                                        .draw();
                                    $('#serachJobTitle').val('');
                                    $('#JobLocationList').val('');
                                    $('#JobCategoriesId').val('');
                                    $('#JobStatus').val('');
                                });
                            })

                        </script>

                    }
